# Folder dependencies
/vendor/
/node_modules/

# File log
*.log
/storage/logs/*
!/storage/logs/.gitignore

# File konfigurasi lingkungan
#.env

# Folder storage & cache
/storage/debugbar/*
!/storage/debugbar/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore

# Folder build output
/public/storage/

# File spesifik editor dan IDE
/.vscode/
/.idea/

# Sistem operasi
.DS_Store

# File temporary / cache
*.phpunit.result.cache
*.zip
test_render.php
